.form-container{
    box-shadow: 2px 3px 5px 2px lightgray;
    border: none;
    border-radius: 10px;
    margin-top: 100px;
    height: 440px;
    width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
padding: 10px;
}
.title{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.input-box-update{
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black
    
}
.link-Home{
    color: red;
    font-size: 30px;
    
}
.button-update{
    margin-top: 30px;
    padding: 12px 25px;
    background-color: orange;
    border: none;
    color: white;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
    font-size: 22px;
    font-weight: bold;
}
.home-link{
    text-align: end;
    margin-top: 20px;
}
.arrow{
    font-size: 30px;
}