.product-card{
   box-shadow: 0px 0px 4px 1px lightgray;
    padding:10px 50px;
    background-color: lightcyan;
    margin: 20px;
}
.img-product{
    height: 200px;
    width: 250px;
    margin-right:10px;
}
.container-product{
    display: flex;
    
}
.title{
    text-align: center;
}