.product-card{
   box-shadow: 3px 2px 5px 1px lightgray;
    padding:10px 50px;
    background-color: lightcyan;
    margin: 20px;
}
.img-product{
    height: 200px;
    width: 250px;
    margin-right:10px;
}
.container-product{
    display: flex;
    
}
.title{
    text-align: center;
}
.link-page{
   text-decoration: none;
    text-align: center;
    color: aqua;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}
.btn-delete-product{
    margin-left: 250px;
}